:root{
    --lightBlue: #1566c0;
    --font-primary: "Righteous", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}

body{
    font-family: var(--font-secondary);
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-primary);
    color: var(--lightBlue);
}

.color-lightBlue{
    color: var(--lightBlue);
}

/** Header */
.header-bg{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 95%), url(./media/wave1.svg), url(./media/header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.wave2{
    height: 101.5%;
    width: 100%;
    background: url(./media/wave2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.btn-header-custom{
    background-color: orange;
    border: none;
}

.card{
    border-radius: 0;
}

.card-img-overlay{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    border-radius: 0;
}

.card-title{
    border-bottom: 3px solid orange;
}

.card-text{
    position: absolute;
    font-size: small;
    bottom: 10%;
}




/*~ Media Queries */

/** Media queries mobile */
@media screen and (max-width: 767px){
    .card-text{
        font-size: large;
        position: absolute;
        bottom: 10%;
    }
    .card-title{
        font-size: 50px;
    }
}

/** Media queries tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .card-text{
        font-size: x-small;
        position: absolute;
        bottom: 10%;
    }
    .card-title{
        font-size: xx-large;
    }
}
